html,body,.weather{
  height: 100%;
}

body{
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
}

.fl{
  float: left;
}
.fr{
  float: right;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.weather{
  /* background-image: url("../images/morning.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  background-image: linear-gradient(to bottom, #5476FE, #6FB1FF);
  padding: 0 .1rem;
}

.system{
  height: 24px;
}

.nav{
  height: .3rem;
  text-align: center;
  position: relative;
}

.nav>.city{
  line-height: .3rem;
}

.menu{
  position: absolute;
  right: 0;
  top: 0;
  width: .3rem;
  height: .3rem;
  background-color: #000;
}

.weather-status{
  height: .84rem;
  padding: .38rem;
  margin-top: .2rem;
}

.weather-tem{
  font-size: .48rem;
  text-align: center;
  height: .64rem;
  line-height: .64rem;
}

.min-max{
  height: .2rem;
  font-size: .12rem;
  line-height: .2rem;
  margin: 0 auto;
  text-align: center;
}

.wind-box{
  width: 2.8rem;
  height: .7rem;
  margin-top: .4rem;
  margin: 0 auto;
}

.wind-list>div{
  float: left;
  width: 33.3333%;
  height: .4rem;
  position: relative;
  font-size: .13rem;
}

.text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line{
  position: absolute;
  height: .22rem;
  width: 1px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

.yubao{
  height: .2rem;
  text-align: center;
  font-size: .13rem;
  margin-top: .1rem;
}

.day-hour-box{
  margin-top: .4rem;
}

.day-hour{
  width: 1.6rem;
  height: .32rem;
  margin: 0 auto;
  font-size: .14rem;
  position: relative;
}

.day-hour>div{
  width: .6rem;
  text-align: center;
  line-height: .32rem;
  margin: 0 .1rem;
  font-size: .12rem;
}

.day-hour>.move-line{
  position: absolute;
  left: .1rem;
  bottom: 0;
  width: .4rem;
  height: 2px;
  background-color: #fff;
}

.weather-data{
  margin-top: .4rem;
  overflow-x: auto;
  width: 100%;
}

.weather-data-box{
  width: 10rem;
}
.weather-data-box>div{
  float: left;
  width: .62rem;
  font-size: .12rem;
  text-align: center;
}

.icon{
  width: .2rem;
  height: .2rem;
  background-color: #fff;
  margin: .2rem auto;
}